function Main.main 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push constant 50
push constant 50
push constant 100
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 50
push constant 50
push constant 100
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 100
push constant 100
push constant 200
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 100
push constant 100
push constant 100
push constant 200
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 11
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 21
push constant 21
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 31
push constant 31
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 0
return

