function Math.bitshiftLeft 1
push constant 0
pop local 0
label WhileStartL72
push local 0
push argument 1
lt
not
if-goto WhileEndL72
push argument 0
push argument 0
add
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WhileStartL72
label WhileEndL72
push argument 0
return
function Math.abs 0
push argument 0
push constant 0
lt
not
not
if-goto FalseL73
push argument 0
return
goto TrueL73
label FalseL73
label TrueL73
push argument 0
not
push constant 1
add
return
function Math.multiply 2
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL74
push local 1
push constant 16
lt
not
if-goto WhileEndL74
push argument 1
push constant 1
push local 1
call Math.bitshiftLeft 2
and
push constant 0
eq
not
not
if-goto FalseL75
push local 0
push argument 0
push local 1
call Math.bitshiftLeft 2
add
pop local 0
goto TrueL75
label FalseL75
label TrueL75
push local 1
push constant 1
add
pop local 1
goto WhileStartL74
label WhileEndL74
push local 0
return
function Math.divide 1
push argument 1
push argument 0
gt
not
if-goto FalseL76
push constant 0
return
goto TrueL76
label FalseL76
label TrueL76
push argument 0
push argument 1
push argument 1
add
call Math.divide 2
pop local 0
push argument 0
push local 0
push local 0
add
push argument 1
call Math.multiply 2
sub
push argument 1
lt
not
if-goto FalseL77
push local 0
push local 0
add
return
goto TrueL77
label FalseL77
push local 0
push local 0
add
push constant 1
add
return
label TrueL77
function Math.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Math.sqrt 3
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL78
push local 1
push constant 16
lt
not
if-goto WhileEndL78
push local 0
push local 0
call Math.multiply 2
pop local 2
push local 2
push argument 0
gt
not
if-goto FalseL79
push constant 16
pop local 1
goto TrueL79
label FalseL79
push local 0
push constant 1
add
pop local 0
label TrueL79
push local 1
push constant 1
add
pop local 1
goto WhileStartL78
label WhileEndL78
push local 0
push constant 1
sub
return
function Math.min 0
push argument 0
push argument 1
lt
not
if-goto FalseL80
push argument 0
return
goto TrueL80
label FalseL80
push argument 1
return
label TrueL80
function Math.max 0
push argument 0
push argument 1
gt
not
if-goto FalseL81
push argument 0
return
goto TrueL81
label FalseL81
push argument 1
return
label TrueL81
function Math.pow 1
push constant 1
pop local 0
label WhileStartL82
push argument 1
push constant 0
gt
not
if-goto WhileEndL82
push local 0
push argument 0
call Math.multiply 2
pop local 0
goto WhileStartL82
label WhileEndL82
push local 0
return

