function Math.bitshiftLeft 1
push constant 0
pop local 0
label WhileStartL73
push local 0
push argument 1
lt
not
if-goto WhileEndL73
push argument 0
push argument 0
add
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WhileStartL73
label WhileEndL73
push argument 0
return
function Math.abs 0
push argument 0
push constant 0
lt
not
not
if-goto FalseL74
push argument 0
return
goto TrueL74
label FalseL74
label TrueL74
push argument 0
not
push constant 1
add
return
function Math.multiply 2
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL75
push local 1
push constant 16
lt
not
if-goto WhileEndL75
push argument 1
push constant 1
push local 1
call Math.bitshiftLeft 2
and
push constant 0
eq
not
not
if-goto FalseL76
push local 0
push argument 0
push local 1
call Math.bitshiftLeft 2
add
pop local 0
goto TrueL76
label FalseL76
label TrueL76
push local 1
push constant 1
add
pop local 1
goto WhileStartL75
label WhileEndL75
push local 0
return
function Math.divide 1
push argument 1
push argument 0
gt
not
if-goto FalseL77
push constant 0
return
goto TrueL77
label FalseL77
label TrueL77
push argument 0
push argument 1
push argument 1
add
call Math.divide 2
pop local 0
push argument 0
push local 0
push local 0
add
push argument 1
call Math.multiply 2
sub
push argument 1
lt
not
if-goto FalseL78
push local 0
push local 0
add
return
goto TrueL78
label FalseL78
push local 0
push local 0
add
push constant 1
add
return
label TrueL78
function Math.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Math.sqrt 3
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL79
push local 1
push constant 16
lt
not
if-goto WhileEndL79
push local 0
push local 0
call Math.multiply 2
pop local 2
push local 2
push argument 0
gt
not
if-goto FalseL80
push constant 16
pop local 1
goto TrueL80
label FalseL80
push local 0
push constant 1
add
pop local 0
label TrueL80
push local 1
push constant 1
add
pop local 1
goto WhileStartL79
label WhileEndL79
push local 0
push constant 1
sub
return
function Math.min 0
push argument 0
push argument 1
lt
not
if-goto FalseL81
push argument 0
return
goto TrueL81
label FalseL81
push argument 1
return
label TrueL81
function Math.max 0
push argument 0
push argument 1
gt
not
if-goto FalseL82
push argument 0
return
goto TrueL82
label FalseL82
push argument 1
return
label TrueL82
function Math.pow 1
push constant 1
pop local 0
label WhileStartL83
push argument 1
push constant 0
gt
not
if-goto WhileEndL83
push local 0
push argument 0
call Math.multiply 2
pop local 0
goto WhileStartL83
label WhileEndL83
push local 0
return

