function Math.bitshiftLeft 1
push constant 0
pop local 0
label WhileStartL143
push local 0
push argument 1
lt
not
if-goto WhileEndL143
push argument 0
push argument 0
add
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WhileStartL143
label WhileEndL143
push argument 0
return
function Math.abs 0
push argument 0
push constant 0
lt
not
not
if-goto FalseL144
push argument 0
return
goto TrueL144
label FalseL144
label TrueL144
push argument 0
not
push constant 1
add
return
function Math.multiply 2
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL145
push local 1
push constant 16
lt
not
if-goto WhileEndL145
push argument 1
push constant 1
push local 1
call Math.bitshiftLeft 2
and
push constant 0
eq
not
not
if-goto FalseL146
push local 0
push argument 0
push local 1
call Math.bitshiftLeft 2
add
pop local 0
goto TrueL146
label FalseL146
label TrueL146
push local 1
push constant 1
add
pop local 1
goto WhileStartL145
label WhileEndL145
push local 0
return
function Math.divide 1
push argument 1
push argument 0
gt
not
if-goto FalseL147
push constant 0
return
goto TrueL147
label FalseL147
label TrueL147
push argument 0
push argument 1
push argument 1
add
call Math.divide 2
pop local 0
push argument 0
push local 0
push local 0
add
push argument 1
call Math.multiply 2
sub
push argument 1
lt
not
if-goto FalseL148
push local 0
push local 0
add
return
goto TrueL148
label FalseL148
push local 0
push local 0
add
push constant 1
add
return
label TrueL148
function Math.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Math.sqrt 3
push constant 0
pop local 0
push constant 0
pop local 1
label WhileStartL149
push local 1
push constant 16
lt
not
if-goto WhileEndL149
push local 0
push local 0
call Math.multiply 2
pop local 2
push local 2
push argument 0
gt
not
if-goto FalseL150
push constant 16
pop local 1
goto TrueL150
label FalseL150
push local 0
push constant 1
add
pop local 0
label TrueL150
push local 1
push constant 1
add
pop local 1
goto WhileStartL149
label WhileEndL149
push local 0
push constant 1
sub
return
function Math.min 0
push argument 0
push argument 1
lt
not
if-goto FalseL151
push argument 0
return
goto TrueL151
label FalseL151
push argument 1
return
label TrueL151
function Math.max 0
push argument 0
push argument 1
gt
not
if-goto FalseL152
push argument 0
return
goto TrueL152
label FalseL152
push argument 1
return
label TrueL152
function Math.pow 1
push constant 1
pop local 0
label WhileStartL153
push argument 1
push constant 0
gt
not
if-goto WhileEndL153
push local 0
push argument 0
call Math.multiply 2
pop local 0
goto WhileStartL153
label WhileEndL153
push local 0
return

